
body {
    font: 11px sans-serif;
}

#clouds{
    text-align: center;
    display: relative;
    margin-top: 500px;
    /*padding-top: 250px;*/
}

.title{
    margin-bottom: -20px;
}

.buttons{
    text-align: center;
}

.btn-default{
    background-color: #001A57 !important; 
    color: white !important;
    outline-width: 0;
}
/*-----------Map-----------*/

.datamaps-hoverover {
    display: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hoverinfo {
    margin-top: 500px;
    visibility: visible !important;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 7px;
    border-radius: 1px;
    background-color: #FFF;
    box-shadow: 1px 1px 5px #CCC;
    font-size: 12px;
    border: 1px solid #CCC;
    z-index: 5;
}

.state {
    font-size: 14px;
    font-weight: bold;
}


#us_map {
   height: 600px;

}

#us_map svg{

}


.voterRegist {
    font-weight: bold;
    font-size: 17px;
}

.hoverinfo hr {
    border: 1px dotted #CCC;
}

.credit {
    text-align: right;
}


/*--------Dropdown------------*/
.dropdown-menu{
height: 56px;
}
