body {
    font: 11px sans-serif;
}
.wordClouds{
    
    margin-left: -100px;
}
#clouds {
    text-align: left !important;
    /*display: relative;*/
    margin-top: 350px;
    /*padding-top: 250px;*/
}

.title {
    margin-bottom: -10px;
}

.buttons {
    text-align: center;
}

.btn-default {
    background-color: #001A57 !important;
    color: white !important;
    outline-width: 0;
}

.wordCloudClass{
    text-align: left;
    float: left !important;
}

.pieTitle {
    text-align: center;
}


/*-----------Map-----------*/

.datamaps-hoverover {
    display: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hoverinfo {
    margin-top: 900px;
    visibility: visible !important;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 7px;
    border-radius: 1px;
    background-color: #FFF;
    box-shadow: 1px 1px 5px #CCC;
    font-size: 12px;
    border: 1px solid #CCC;
    z-index: 5;
}

.state {
    font-size: 14px;
    font-weight: bold;
}

#mapRow{
    margin-top: 50px;
}
#us_map {
    height: 600px;
    margin-top: 50px !important;
}

#us_map svg {
    margin-top: 100px !important;
    height: 90%;
}

.voterRegist {
    font-weight: bold;
    font-size: 17px;
}

.hoverinfo hr {
    border: 1px dotted #CCC;
}

.credit {
    text-align: right;
}


/*--------Dropdown------------*/

.dropdown-menu {
    height: 90px;
}
